.intro-section {
    background: linear-gradient(to right, #00f28e, #00B4D8);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
  }  

.form-usuario {
  padding-left: 100px;
  padding-top: 30px;
  justify-content: center;
}
.inputs {
  margin-top: 5px;
}
.footer-usuario {
  margin-top: 5px;
}
.text-center{text-align:center}
.table-responsive
{
  padding-top: 10px;
  min-height:.01%;
  overflow-x:auto;
  width:100%;
  margin-bottom:15px;
  overflow-y:hidden;
  -ms-overflow-style:-ms-autohiding-scrollbar;
  border:1px solid #ddd;
}
.table {
  width:100%;
  max-width:100%;
  margin-bottom:20px;
  background-color:#fff;
  border-collapse:collapse;
}
select{
  width: 450px;
}

h2 {
    font-family: var(--bs-body-font-family);
    color: black;
}